$color_primary: #404344;
$color_secondary: #FF5722;

$color_backgroud: #22252b;

$color_neumorphic_primary: #22252b;
$color_neumorphic_secondary: #1d2024;

$color_neumorphic_primary_pushed: #1d2024;
$color_neumorphic_secondary_pushed: #22252b;

$color_neumorphic_shadow_primary: #1b1e22;
$color_neumorphic_shadow_secondary: #25282e;

