.UserControl {
  display: flex;
  align-items: center;
  justify-content: space-around;

  &__closeButton {
    @include roundedButton();
  }

  &__username {
    font-size: 3rem;
  }

  &__avatar {

    @include neumorphicShadow();
    @include roundedAvatar();

    height: 5rem;
    width: 5rem;

    border-radius: 50px;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
    }
  }
}