.credentials {
  margin-top: 7rem;
  font-size: 1.6rem;

  a {
    color: white;
    @include flexCentered();
  }

  img {
    width: 5rem;
    height: auto;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
}
