@import '../../styles/index.scss';

.Dashboard {
  width: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  height: 100vh;
  flex-direction: row;

  &__sideBar {
    width: 30%;
    height: 100vh;
    margin-left: 3rem;
  }

  &__chatPanel {
    width: 70%;
    margin: 5% 5% 5% 2%;
    height: auto;
    padding: 1rem;
    position: relative;
    bottom: 0;
    display: flex;
    align-items: flex-end;
  }
}

.SideBar {
  @include neumorphic();
  @include neumorphicShadow();
  @include flexCentered();

  height: 100vh;
  justify-content: space-around;

  &__userContainer {
    width: 100%;
  }

}