.Join {

  height: 100vh;
  width: 100%;
  @include flexCentered();

  &__container {
    text-align: center;
    height: 42rem;
    width: 40rem;
    @include flexCentered();
    @include neumorphic();
    @include neumorphicShadow();
  }

  &__title {
    font-size: 5rem;
    margin-bottom: 1rem;
  }

  &__buttons {
    @include flexCentered();
  }
}


button {
  @include neumorphicButttonSecondary();
  border-width: 0;

  cursor: pointer;

  font-size: 2rem;
  padding: 0.6rem 1.8rem;
  color: white;

  margin-bottom: 2rem ;

  &.--big {
    font-size: 3rem;
  }

}